$background-color:#B8DEE3;
$background-color2:#bdaae6;
$background-color3: rgb(4, 160, 134);
$font-stack: 'Yusei Magic', sans-serif;
$font-size: large;
$pixels: 50px;


@mixin theme($theme: rgb(4, 160, 134)) {
    h1 {
        color: $theme;
    }
}
body {
    background-color: $background-color;
    font-size: $font-size;
    font-family: $font-stack;
}

h1 {
    font-family: $font-stack;
    padding: 20px;
    text-align: center;
    @include theme;
}

.btn btn-primary btn-lg {
    max-width: $pixels;
    max-height: $pixels;
    background-color: $background-color2;
}

.lajitteluhattu:hover {
    background-color: $background-color2;
}
.container-fluid {
    background-color: $background-color3;
}
.col-auto {
    background-color:$background-color3;
}
.container {
    background-color: $background-color;
}
#quiz {
    border: 4px solid black;
    background-color: rgb(58, 214, 188);
}
.textcolor {
    color:$background-color3;
}
.collapse collapse-horizontal {
    background-color: $background-color;
}
#hedwig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $pixels;

}
.card card-body {
    background-color: $background-color;
}
#alaotsikko {
    text-align: center;
}
#mielipide {
    margin:10px;
    padding:10px;
}
#button12 {
    margin: 10px;
    border: 5px solid black;
}
.carousel {
    margin: auto;
    width:640px;
    height:360px;
}
footer {
    background-color: $background-color3;
    border-radius: 5px;
    margin-top: 20px;
    }

button[name=vastaus] {
    border: 5px solid blue;
}
label[name="1a"], [name="2a"], [name="3a"], [name="4a"] {
    color: white;
}
label[name="1b"], [name="2b"],[name="3b"],[name="4b"] {
    color: gold;
}
label[name="1c"], [name="2c"], [name="3c"],[name="4c"] {
    color: blue;
}
